html, body {
/*background-color:#D2DCE8;*/
width: 375px;
padding: 0;
margin: 0;
position: relative;
text-align: center;
background-image: url("bg.jpg");
background-repeat: no-repeat;
font-family: 'Arial';
}
.top-right {
text-align: right;
margin-top: 5px;
margin-right: 10px;
}
.top-right input[type=button] {
background: #BEB8A8;
width: 65px;
border: 2px solid #BEB8A8;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
cursor: pointer;
color: #fff;
}
.command-buttons_Off {
background-color: #DAD6CD;
/*border: 2px solid #DAD6CD;*/
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
width: 95px;
min-width: 95px;
height: 95px;
min-height: 95px;
/*text-align: center;*/
vertical-align: middle;
padding-left: 5px;
padding-top: 5px;
color: #7D7C7A;
cursor:pointer;
}
.command-buttons_On {
/*border: 2px solid #fff;*/
background-color: #fff;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
width: 95px;
min-width: 95px;
height: 95px;
min-height: 95px;
/*text-align: center;*/
vertical-align: middle;
padding-left: 5px;
padding-top: 5px;
cursor:pointer;
}
.command-buttons_Off .light {
/*background-image: url("light_off.png");*/
background-image: url(spritesheet.png);
background-position: -4px -5px;
background-repeat: no-repeat;
min-height: 35px;
width: 30px;
}
.command-buttons_On .light {
background-image: url(spritesheet.png);
background-position: -33px -5px;
/*background-image: url("light_on.png");*/
background-repeat: no-repeat;
min-height: 35px;
width: 30px;
}
.command-buttons_Off .fan {
/*background-image: url("light_off.png");*/
background-image: url(fan_off.png);
background-repeat: no-repeat;
min-height: 35px;
width: 30px;
}
.command-buttons_On .fan {
background-image: url(fan_on.png);
/*background-image: url("light_on.png");*/
background-repeat: no-repeat;
min-height: 35px;
width: 30px;
}
.command-buttons_Off .sensor {
/*background-image: url("light_off.png");*/
background-image: url(temp.png);
background-repeat: no-repeat;
min-height: 35px;
padding-left:35px;
margin-left:-5px;
}

.command-buttons_Off .outlet {
/*background-image: url("outlet_off.png");*/
background-image: url(spritesheet.png);
background-position: -63px -5px;
background-repeat: no-repeat;
min-height: 35px;
width: 30px;
}
.command-buttons_On .outlet {
/*background-image: url("outlet_on.png");*/
background-position: -63px -44px;
background-image: url(spritesheet.png);
background-repeat: no-repeat;
min-height: 35px;
width: 30px;
}
.command-buttons_On .name {
overflow: auto;
max-height: 37px;
min-height: 37px;
padding: 1px;
font-size: 14px;
font-weight:bold;
}
.command-buttons_Off .name {
overflow: auto;
max-height: 37px;
min-height: 37px;
padding: 1px;
font-size: 14px;
}
.centered-content {
text-align: center;
}
.divTable {
display: table;
width: 95%;
margin-left: 20px;
}
.divTableRow {
display: table-row;
vertical-align: top;
}
.divTableHeading {
background-color: #EEE;
display: table-header-group;
}
.divTableCell, .divTableHead {
/*border: 1px solid #999999;*/
display: table-cell;
padding: 3px 6px;
height: 110px;
text-align: left;
}
.divTableHeading {
background-color: #EEE;
display: table-header-group;
font-weight: bold;
}
.divTableFoot {
background-color: #EEE;
display: table-footer-group;
font-weight: bold;
}
.divTableBody {
display: table-row-group;
}
.summary {
text-align: left;
/*font-family: 'Times New Roman';*/
font-weight: bold;
color: #fff;
margin-left: 30px;
width: 75%;
font-size: 25px;
min-height:60px;
}
.top_container {
width: 100%;
}
.settings_button {
background: #beb8a8;
border: 2px solid #beb8a8;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
cursor: pointer;
color: #fff;
width: 70px;
display: inline;
}
.state {
/*position: relative;
        bottom: -20px;*/
padding: 1px;
}
